{# {% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="text-center">
        <button type="submit" class="btn text-dark">Register</button>
        </div>
    {{ form_end(registrationForm) }}

    <video poster="{{ asset('img/bg.jpg') }}" id="bgvid" playsinline autoplay muted loop>
<source src="{{ asset('img/tbconstruhub.webm') }}"type="video/webm">
<source src="{{ asset('img/tbconstruhub.mp4') }}" type="video/mp4">
<form class="container" method="post">
</video>
{% endblock %}
