{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper mainbg">
    <h2>Project</h2>


   {# {% for label, messages in app.flashes %} #}
      {# {% for message in messages %} #}
      {# <div class="alert alert-success {{ label }}"> #}
        {# {{ message }} #}
      {# </div> #}
      {# {% endfor %} #}
  {# {% endfor %} #}
  {# Afficher tous les messages flash en session pour l utilisateur connectes #}
    {% for project in projects %}
    <div class="card text-center my-5" id="cardtestorange" style="width: 50rem;">
    <div class="card-header">
      <h4 class="card-title">{{project.title}}</h4>
      <h5 class="card-title">Created the : {{project.createdate|date('d/m/Y')}}</h5>
    </div>
    <div class="card-body">
    <p class="card-text">{{project.description}}</p>
    <a href="{{path('task_index', {id:project.id})}}" class="btn text-white">
    {#{id: subject.id} me permet d aller sur l ID du sujet sur lequel on a clique  #}
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Task</a>
  </div>
  <div class="card-footer text-muted">
    Deadline : {{project.deadline|date('d/m/Y')}}
  </div>
</div>
  {# <img src="..." class="card-img-top" alt="..."> #}
   
    {% endfor %}
{% endblock %}
