{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello </h1>
    <h2>Project</h2>


   {# {% for label, messages in app.flashes %} #}
      {# {% for message in messages %} #}
      {# <div class="alert alert-success {{ label }}"> #}
        {# {{ message }} #}
      {# </div> #}
      {# {% endfor %} #}
  {# {% endfor %} #}
  {# Afficher tous les messages flash en session pour l utilisateur connectes #}
    {% for project in projects %}
    <div class="card" style="width: 20rem;">
  {# <img src="..." class="card-img-top" alt="..."> #}
  <div class="card-body">
    <div class="card-header"><p>Published the {{project.create_date|date('d/m/Y')}}</br> 
    <h4 class="card-title">{{subject.title}}</h4>
    <p class="card-text">{{project.description}}</p>
    <p class="card-text">{{project.deadline|date('d/m/Y')}}</p>
    <a href="{{path('single', {id:project.id})}}" class="btn text-white">
    {#{id: subject.id} me permet d aller sur l ID du sujet sur lequel on a clique  #}
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    See the Subject</a>
  </div>
</div>
        <p></p>
    {% endfor %}
{% endblock %}
