{% if app.user %}
<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('index')}}"><img src="{{ asset('img/logo-2.png') }}" alt="logo"></a>
    <p class="nav-item welcome text-white"> Welcome {{ app.user.firstname }} {{ app.user.lastname }} </p>
    <button class="buttonnav navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active maincolor text-white" aria-current="page" href="{{ path('index')}}">Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link maincolor text-white" href="{{ path('app_logout')}}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('index')}}"><img src="{{ asset('img/logo-2.png') }}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active maincolor text-white" aria-current="page" href="{{ path('app_register')}}">Register</a>
        </li>
        </ul>
    </div>
</div>
</nav>
{% endif %}
